<a href="https://colab.research.google.com/github/frncscp/PyUniban/blob/main/Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducción a Python**

Este cuaderno de Jupyter es para principiantes de programación en Python. Aprenderás los tipos de datos básicos, la sintaxis básica y cómo sumar dos números en Python.

# Antes de empezar:

Google Colab es una plataforma que hace uso de Jupyter Notebook, una herramienta útil para esrcibir código, entre algunas de sus características están:

**Código por celdas**: Jupyter Notebook organiza el código en "celdas" o "bloques" que pueden ser ejecutados de forma independiente. Esto significa que los usuarios pueden dividir su código en secciones más manejables y experimentar con diferentes partes del código sin tener que volver a ejecutar todo el script.

**Impresión automática de la última línea**: En Jupyter Notebook, la última línea de una celda que no tenga una función de retorno o una expresión asignada se imprimirá automáticamente como resultado de la celda. Esto es muy útil para obtener rápidamente el resultado de una operación o función sin tener que utilizar explícitamente la función de print().

**Autocompletado de código**: Jupyter Notebook ofrece una función de autocompletado para ayudar a los usuarios a escribir código más rápido y con menos errores. Al escribir el comienzo de una función, variable o método, Jupyter Notebook sugerirá opciones basadas en el contexto del código.

**Visualización de gráficos interactivos**: Jupyter Notebook puede visualizar gráficos interactivos y datos enriquecidos mediante bibliotecas como Matplotlib, Seaborn y Plotly. Esto permite a los usuarios interactuar con los datos de una manera más dinámica e intuitiva.

# Tipos de datos en Python

Los enteros (int) son números enteros positivos o negativos.

In [4]:
x = 5
y = -10
#print(type(x))
type(x), x, y

(int, 5, -10)

Los flotantes (float) son números decimales.

In [5]:
pi = 3.14
z = -0.5
type(pi), pi, z

(float, 3.14, -0.5)

Las cadenas (str) son secuencias de caracteres.

In [6]:
x = "Hola, mundo!"
y = "23"
type(y), x, y

(str, 'Hola, mundo!', '23')

Esto es lo que pasa cuando se suman dos cadenas:

In [9]:
"3" + "6", "Instituto " + "Unibán"

('36', 'Instituto Unibán')

Los booleanos (bool) son valores Verdadero (True) o Falso (False). Deben escribirse en mayúsculas.

In [10]:
t = True
f = False
type(t), t, f

(bool, True, False)

Se pueden usar para validar comparaciones entre valores.

## Operadores

Estos permiten comparar y asignar valores 

*   = sirve para asignar un valor a una variable (por ejemplo, en numero = 2, se está asignado a la variable numero el valor 2), siempre se asigna de izquierda a derecha


*   == sirve para comparar dos valores y devuelve un booleano (por ejemplo, si x vale 3, y z vale 6, al operar x < z (3 < 6) devuelve True, porque 3 SI es menor a 6)


*  En operaciones matemáticas, "+" para  suma, "-" para resta, "*" para multiplicación, "/" para división, "()" para usar paréntesis en operaciones, "//" para división entera, "**" para exponentes y "%" para módulos.

In [25]:
num_1 = 3
num_2 = 4

print('¿3 es mayor a 6?',num_1 > num_2)
print('¿3 es igual a 6?', num_1 == num_2)
print('¿3 es menor a 6?', num_1 < num_2)

print('3+4:', num_1 + num_2)
print('3+4 sin variables:',3+4)

print('3-4:', num_1 - num_2)
print('3*4:', num_1 * num_2)
print('3/4:', num_1 / num_2, 'su tipo de variable es', type(num_1 / num_2))
print('División entera de 3/4:', num_1 // num_2, 'su tipo de variable es', type(num_1 // num_2))
print('Redondeo de 3/4 con función round():',round(3/4))
print('3 elevado a 4:', num_1**num_2)
print('Módulo entre 3 y 4:', num_1 % num_2)

¿3 es mayor a 6? False
¿3 es igual a 6? False
¿3 es menor a 6? True
3+4: 7
3+4 sin variables: 7
3-4: -1
3*4: 12
3/4: 0.75 su tipo de variable es <class 'float'>
División entera de 3/4: 0 su tipo de variable es <class 'int'>
Redondeo de 3/4 con función round(): 1
3 elevado a 4: 81
Módulo entre 3 y 4: 3

## Funciones

La base de Python está en dos formas de escribir código: programación orientada a objetos (un poco más complicada) y programación funcional.

Una función es como una máquina a la cuál se le da un valor y devuelve otro, de hecho, ya han usado varias funciones, como print() y type().

Una función está compuesta de un nombre y unos argumentos, por ejemplo, type es el nombre de una función, su argumento es una variable y nos devuelve qué tipo de dato estamos usando.

Se pueden crear funciones, pero por ahora, centrémonos en las que python ya nos ofrece, por ejemplo:

In [29]:
print('hola', 42, False) #el nombre de la función es "print"
#su argumento puede ser cualquier tipo de dato, y devuelve el dato en la consola.

hola 42 False

In [31]:
nombre = input('escribe tu nombre: ') #el nombre de la función es "input"
#solo acepta una cadena como argumento, y devuelve una entrada de texto que almacena en
#la variable a la que haya sido asignada

#si no se especifica valor, la entrada siempre va a ser una cadena, si se quiere
#evitar, se debe colocar el tipo de dato, como en int(input()), esto puede generar
#errores si el usuario se equivoca

nombre

escribe tu nombre: pepe

'pepe'

In [37]:
pi_aproximado = round(3.1416, 2) #el nombre de la función es "round"
#Necesita dos argumentos, un número (sea entero o flotante) y la cantidad de decimales 
#a los que se quiere redondear, si no se coloca ninguno, se redondea a número entero
#si se coloca un cero y su argumento fue un entero, devuelve un flotante

pi_ingeniero = round(3.14)
pi_ingeniero_flotante = round(3.14, 0)

pi_aproximado, pi_ingeniero, pi_ingeniero_flotante

(3.14, 3, 3.0)

Los tipos de datos también sirven como funciones, y permiten trasladar un valor de un tipo de dato a otro (siempre y cuando sea posible)

In [24]:
print(int('3')) #aquí hay una función llamada print, cuyo argumento es la función int
#que a su vez tiene un argumento, la cadena 3, el código funciona de adentro hacia afuera
#primero el 3 cadena se convierte a 3 entero, y luego se imprime en la pantalla

#también se podría crear una variable, convertirla y luego imprimirla
tres = '3'

print(int(tres)) #la diferencia con esta línea y el print del final, es que aquí no se asignó
#nada nuevo a la variable tres, por lo que tres sigue siendo "3", y no 3

print('Ahora mismo el tipo de dato de tres es:', type(tres))
tres = int(tres)
print(tres)
print('Ahora mismo el tipo de dato de tres es:', type(tres))

3
3
Ahora mismo el tipo de dato de tres es: <class 'str'>
3
Ahora mismo el tipo de dato de tres es: <class 'int'>

# Es tu turno de probar

Escribe un código que tenga dos variables, que sean entradas de texto (cadena), luego convierte su valor, elige cualquiera de los operadores matemáticos vistos, e imprime un mensaje que describa el resultado, por ejemplo: La suma de 3 y 4 es 7

In [ ]:
#1. CREA LAS DOS VARIABLES QUE ACEPTEN ENTRADAS




#2. CONVIERTE SU VALOR A ENTERO O FLOTANTE




#3. REALIZA LA OPERACIÓN (TAMBIÉN LA PUEDES HACER EN LA RESPUESTA)




#4. IMPRIME EL RESULTADO

Escribe un código que tome 4 variables y permita conocer su promedio decimal y aproximado

In [ ]:
#1. CREA LAS 4 VARIABLES




#2. PÁSALAS A ENTERO O FLOTANTE SI LO VES NECESARIO




#3. DIVIDE LOS VALORES ENTRE 4 Y UTILIZA LA DIVISÓN ENTERA O LA FUNCIÓN ROUND()




#4. IMPRIME EL RESULTADO